{% load i18n %}
<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <li class="nav_link">
            {% comment %} <a href="{% url 'users:switch-hosting' %}"> {% endcomment %}
                {% if request.session.is_hosting %}
                    {% trans "Stop hosting" %}
                {% else %}
                    {% trans "Start hosting" %}
                {% endif %}
            {% comment %} </a> {% endcomment %}
        </li>
        {% if request.session.is_hosting %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans "Create Room" %}</a></li>
        {% endif %}
        {% comment %} <li class="nav_link"><a href="{% url 'lists:see-favs' %}">{% trans "Favs" %} ({{user.list.rooms.count}})</a></li> {% endcomment %}
        <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}" class="bg-indigo-400 px-4 rounded text-white mx-2  py-3">{% trans "Log out" %}</a></li>
    {% else %}
        <li class="nav_link" ><a href="{% url "users:login" %}" class="bg-indigo-400 px-4 py-3 rounded text-white mx-2">{% trans "Log in" %}</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %} " class="bg-indigo-400 px-4 rounded text-white mx-2  py-3">{% trans "Sign up" %}</a></li>
    {% endif %}
</ul>
