{% extends "base.html" %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="h-75vh  flex justify-center items-center flex-col">
	 <form action="" method="post" novalidate>
		 {% csrf_token %}
			{% for field in form %}
				<div class="form-control flex flex-col ">
					{{field.label_tag}}
					{{field}}
					{% if field.errors %}
						{% for error in field.errors %}
							<span class="text-red-500 mb-2">{{error}}</span>
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		 <button type='submit' class="bg-indigo-500 text-white rounded w-full p-2">Log In</button>
	 </form>
</div>

{% endblock content %}